@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:  url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-700.woff') format('woff');
}

* {box-sizing: border-box}

.container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.body__login {
    margin:0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* REGISTER  */

.container__register {
    margin-left: auto;
    margin-right: auto;
    max-width: 456px;
    align-items: center;
}
input[type=email],input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=email]:focus,input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
} 

.register__body {
    background-image: url(./../images/bgi_register-p.png);
    background-position: center ;
    background-repeat: no-repeat;
}

.container__register {
    padding-top: 160px;
}

.form__input-wrapper {
    position: relative;
    padding-top: 45px;
    padding-right: 25px;
    padding-bottom: 28px;
    padding-left: 22px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    text-align: center;
}

.register__box {
    position: absolute;
    top: -19.1%;
    left: 8%;
    background: linear-gradient(180deg, #E93B77 0%, #DA1F63 100%);
    box-shadow: 0px 2px 6px rgba(220, 34, 101, 0.36);
    border-radius: 8px;
    max-width:375px;
    width: 100%;
    height: 105px;
}

.register__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    cursor: default;
    padding-top: 10px;
    color: #fff;
    padding-bottom: 10px;
}

.inputs {
    background: #FFFFFF;
    border: 1px solid #C7CCD0;
    border-radius: 8px;
    transition: all 0.6s ease;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #7B809A;
}

.inputs:hover {
    box-shadow: 10px 10px #CED2D5;
    transform: translateX(-10px);
    cursor: pointer;
}
.inputs:focus {
    background-color: rgb(255, 140, 0);
    transform: translateX(-7.5px);
    box-shadow: 10px 10px #CED2D5;
}

.register__btn {
    background: linear-gradient(180deg, #E93B77 0%, #DA1F63 100%);
    border-radius: 8px;
    width: 100%;
    border: none;
    padding-top: 11px;
    padding-bottom: 12px;
    color: #FFFFFF;
    transition: all 0.4s ease;
}

.register__btn:hover {
    transform: scale(1.05);
}

.register__btn:active {
    transform: scale(0.98);
}

.form__sing-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #7B809A;
    text-align: center;
    cursor: default;
}

.register__sign-link{ 
    color: #E91F63;
    text-decoration: none;
    margin-left: 5px;
}

/* LOGIN */

.form {
    display: flex;
}

.login__left {
    width: 756px;
    background-image: url(./../images/bgi_login-p.png);
    width: 756px;
    border-radius: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #F85294;
    background-position: calc( 0px, 20px );
}

.login_right {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 176px;
}

.login__r-top { 
    margin-bottom: 40px;
}

.login__r-bottom {
    display: flex;
    flex-direction: column;
}

.login__login {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: #344767;
}

.login__text-top {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #7B809A;
}

.input {
    max-width: 361px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C7CCD0;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #7B809A;
}

.login__button {
    background: linear-gradient(180deg, #E93B77 0%, #DA1F63 100%);
    border-radius: 8px;
    max-width: 361px;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 12px;
    border: none;
    color: #f1f1f1;
    outline: none;
}

.login__text-bottom {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #7B809A;
}

.login__link {
    text-decoration: none;
    color: #E91F63;
    margin-left: 5px;
}

/* MAIN PAGE */

.main__bottm-wrapper {
    margin-top: 53px;
    margin-bottom: 47px;
    display: flex;
    gap: 15px;
    text-align: center;
    align-items: center;
}
.main__bottm-wrapper p{
    margin: 0;
}
.main__bottm-wrapper h3{
    margin: 0;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 704px;
    margin-left: 16px;
    background-color: #F8F9FA;
    border-radius: 8px;
    padding: 16px 36px 16px 24px;
    margin: 0;
    margin-bottom: 12px;
}

.wrapper__th td{
    display: flex;
    flex-direction: column;
}

.wrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.31);    
}

.wrapper__left {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.31);  
    box-shadow: top; 
    max-width: 736px;
    width: 100%; 
    padding-left: 16px;
    padding-top: 23px;
    
}

.wrapper__header {
    color: #344767;
    margin-bottom: 17px;
}

.item1 {
    color: #344767;
    margin-bottom: 15px;
}